*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: arial,sans-serif;
    color: #202124;
}
/* login.php css */
.div-login{
    float: left;
    width: 100%;
    padding: 200px;
    padding-top: 150px;
    overflow: hidden;
}
.login-card{
    margin: auto;
    width: 40%;
    border: solid;
    border-width: thin;
    border-color: lightgrey;
    padding: 10px;
    border-radius: 15px;
    padding: 100px;
    padding-bottom: 50px; 
    overflow: hidden;
}
.no-scroll{
    overflow-y: hidden;
    overflow-x: hidden;
}
.login-card h3{
    text-align: center;
    color:#869760;
}
.login-card p{
    text-align: center;
    font-weight: lighter;
}
.login-card input{
    width: 100%;
    font-size: 15px;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    background-color: #f1f3f4;
}
.login-card button{
    background-image: linear-gradient(to right, white, #b6eb7a);
    width: 100%;
    outline: none;
    padding: 15px;
    border-radius: 20px;
}
.login-card button:hover{
    background-color: transparent;
}
.div-design-logo{
  position: absolute;
  left: 10px;
  top: 10px;
  height: 60%;
  color:white;
  width:33%;
  padding:10px;
  border-radius: 10px;
}
.div-design-logo img{
    padding-left:110px;
    width: 580px;
    height:300px
}
.div-container{
    float: left;
    padding-left: 600px;
    padding-top: 250px;
}
.div-no-user{
    float: left;
    padding: 100px;
}
/* index.php css */
header{
    float: left;
    width: 100%;
    background-image: linear-gradient(to right, white, #b6eb7a , #869760);
    padding:25px;
    height: calc(10%);
    color: gray;
}
img{
    width: 50px;
    height: 25px;
}
nav{
    float: left;
    width: 15%;
    padding: 10px;
    height: calc(90%);
}
nav a{
    float: left;
    width: 100%;
    font-size: .875rem;
    padding: 15px;  
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: white;
    background-color: #99AD6E;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    width: 100%;
    padding: 15px;
    border-bottom: solid 1px;
}
button{
    width: 100px;
    padding: 5px 20px 5px 20px; 
    border: none;
    background-color: #f8f5f1; 
}
button:hover{
    background-color: transparent;
}
.div-order{
    float: left;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
}
.div-order-left{
    float: left;
    height:500px;
    width: 60%;
    padding: 20px;
    border-radius: 25px;
    overflow: auto;
    height: 600px;
}
.div-order-right{
    float: left;
    width: 40%;
    padding: 20px;
    overflow: auto;
    height: 500px;
}
.order-food{
    float: left;
    width: 100%;
    text-align: justify;
    padding: 25px;
    background-color: #bfcba8;
    margin-bottom: 5px;
}
.menu-food{
    float: left;
    width: 100%;
    margin-bottom: 5px;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
}
.search{
    font-size: 15px;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    background-color: #f1f3f4;
}
.button-delete{
    color: red;  
    background-color: transparent;
}
.button-add{
    background-color: #DEFFE2;
    float: right;
    outline: none;
}
.button-add:hover{
    background-color: transparent;
}
.button-submit{
    float: right;
    width: 20%;
    padding: 10px;
    border-radius: 20px;
    background-color: #DEFFE2;
}
.button-submit:hover{
    background-color: transparent;
}
.button-cancel{
    float: right;
    width: 20%;
    padding: 10px;
    border-radius: 20px;
    background-color:rgb(252, 167, 167);
}
.button-cancel:hover{
    background-color: transparent;
}
.div-transactions{
    float: left;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
}
.div-trans-top{
    float:left;
    width:100%;
    padding: 20px;
}
.button-desc{
    padding: 10px;
    border-radius: 20px;
    background-color:rgb(252, 167, 167);
}
.button-desc:hover{
    background-color: transparent;
}
.button-asc{
    padding: 10px;
    border-radius: 20px;
    background-color:#DEFFE2;
}
.button-refresh{
    padding: 10px;
    border-radius: 20px;
    background-color:#e2e4e2;
}
.button-refresh:hover{
    background-color: transparent;
}
.button-asc:hover{
    background-color: transparent;
}
.div-asc-desc{
    float: left;
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    overflow: auto;
    height: 400px;
}
.div-asc{
    width: 100%;
    padding: 20px;
    border-radius: 25px;
}
.div-desc{
    width: 100%;
    padding: 20px;
    border-radius: 25px;
}
.div-total{
    float: left;
    width: 300px;
    padding: 20px;
    overflow: auto;
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    border-radius: 15px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
.button-send-orders{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: #DEFFE2;;
}
.button-send-orders:hover{
    background-color: transparent;
}
.button-send-cancel{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(252, 167, 167);
}
.button-send-cancel:hover{
    background-color: transparent;
}
.div-header-time{
    float:left;
    width: 30%;
    padding: 5px;
    color:rgb(63, 63, 63);
}
.div-user{
    float: left; 
    padding: 5px; 
    color: black;
}
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    header, nav, .div-order-left, .button-submit, .button-cancel, .div-order-right, .div_transactions,
    .button-desc, .button-asc, .div-header-time, .div-login, .login-card, .div-container, .div-no-user, .modal-content{
      width: 100%;
      height: auto;
      padding: 10px;
      float: left;
    }
}
@media print {
    #buttons-non-print, #h2-non-print{
      display: none;
    }
}
@media print {
    html, body {
      height:100%; 
      margin: 0 !important; 
      padding: 0 !important;
      overflow: hidden;
    }
  
  }
  
